<!-- resources/templates/patient/list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Patients</title>
    <!-- Inside the head tag of your Thymeleaf templates -->
    <script th:src="@{/js/main.js}"></script>

</head>
<body>
<h1>List of Patients</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>COVID Positive</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.covidPositive}"></td>
        <td>
            <a th:href="@{/patients/{id}(id=${patient.id})}">View</a>
            <a th:href="@{/patients/edit/{id}(id=${patient.id})}">Edit</a>
            <a th:href="@{/patients/delete/{id}(id=${patient.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
